<h4>{{movie.title}}</h4>
<h4>{{movie.director}}</h4>
{{#each movie.stars}}
  <h4>{{this}}</h4>
{{/each}}
<img src="{{movie.image}}" alt="{{movie.title}}" />
<h4>{{movie.description}}</h4>
{{#each movie.showtimes}}
  <h4>{{this}}</h4>
{{/each}}